<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fileName</key>
		<string>Mainpuzzle</string>
		<key>Answers</key>
		<array>
			<dict>
				<key>fileName</key>
				<string>AnswerA</string>
				<key>isCorrect</key>
				<true/>
			</dict>
			<dict>
				<key>fileName</key>
				<string>AnswerB</string>
				<key>isCorrect</key>
				<false/>
			</dict>
			<dict>
				<key>fileName</key>
				<string>AnswerC</string>
				<key>isCorrect</key>
				<false/>
			</dict>
			<dict>
				<key>fileName</key>
				<string>AnswerD</string>
				<key>isCorrect</key>
				<false/>
			</dict>
			<dict>
				<key>fileName</key>
				<string>AnswerE</string>
				<key>isCorrect</key>
				<false/>
			</dict>
		</array>
	</dict>
</array>
</plist>
